<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>

    <a id="logo" href="/">
        <span class="sr-only">YJR LAB</span>
    </a>
    
    <ul id="menu" class="nav">
        <li class="{% if page.url != '/introduce/' and page.url != '/request/' %} active {% endif %}"><a href="{{ base_path }}/">포트폴리오</a></li>
     
        <li class="{% if page.url == '/introduce/' %} active {% endif %}"><a href="{{ base_path }}/introduce/">소개</a></li>
        <li class="{% if page.url == '/request/' %} active {% endif %}"><a href="{{ base_path }}/request/">의뢰하기</a></li>
    </ul>
</div><!-- #header -->
